Web Service Sample Code/WSClient/Service References/ServiceReference1/Api.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://SST" elementFormDefault="qualified" targetNamespace="http://SST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57320/Api.svc?xsd=xsd1" />
  <xs:element name="BulkRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="bulkRegistrationTransmission" type="BulkRegistrationTransmissionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="BulkRegistrationResult" type="BulkRegistrationAcknowledgementType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AcknowledgementStatus" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDocumentsResult" type="SSTRegistrationTransmissionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TransmissionId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTransmissionResult" type="SSTRegistrationTransmissionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgeTransmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="acknowledgement" type="SSTPAcknowledgementType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgeTransmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AcknowledgeTransmissionResult" type="SSTReceiptType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>