Web Service Sample Code/WSClient/Service References/ServiceReference1/Api3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ws" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://54.174.97.188/Api.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BulkRegistrationTransmissionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BulkRegistrationDocument" nillable="true" type="tns:ArrayOfBulkRegistrationDocumentType" />
      <xs:element minOccurs="0" name="TransmissionHeader" nillable="true" type="tns:TransmissionHeaderType" />
      <xs:element minOccurs="0" name="transmissionVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegistrationTransmissionType" nillable="true" type="tns:BulkRegistrationTransmissionType" />
  <xs:complexType name="ArrayOfBulkRegistrationDocumentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BulkRegistrationDocumentType" nillable="true" type="tns:BulkRegistrationDocumentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBulkRegistrationDocumentType" nillable="true" type="tns:ArrayOfBulkRegistrationDocumentType" />
  <xs:complexType name="BulkRegistrationDocumentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BulkRegistrationHeader" nillable="true" type="tns:BulkRegistrationHeaderType" />
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" type="tns:BulkRegistrationDocumentTypeDocumentType" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegistrationDocumentType" nillable="true" type="tns:BulkRegistrationDocumentType" />
  <xs:complexType name="BulkRegistrationHeaderType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateReceived" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateReceivedSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="ElectronicPostmark" nillable="true" type="tns:BulkRegistrationHeaderTypeElectronicPostmark" />
      <xs:element minOccurs="0" name="FilingType" type="tns:BulkRegistrationHeaderTypeFilingType" />
      <xs:element minOccurs="0" name="TIN" nillable="true" type="tns:TINType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegistrationHeaderType" nillable="true" type="tns:BulkRegistrationHeaderType" />
  <xs:complexType name="BulkRegistrationHeaderTypeElectronicPostmark">
    <xs:sequence>
      <xs:element minOccurs="0" name="CSPID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegistrationHeaderTypeElectronicPostmark" nillable="true" type="tns:BulkRegistrationHeaderTypeElectronicPostmark" />
  <xs:simpleType name="BulkRegistrationHeaderTypeFilingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BulkRegNew" />
      <xs:enumeration value="BulkRegCOU" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationHeaderTypeFilingType" nillable="true" type="tns:BulkRegistrationHeaderTypeFilingType" />
  <xs:complexType name="TINType">
    <xs:sequence>
      <xs:element minOccurs="0" name="FedTIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeTIN" type="tns:TINTypeTypeTIN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TINType" nillable="true" type="tns:TINType" />
  <xs:simpleType name="TINTypeTypeTIN">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SSN" />
      <xs:enumeration value="FEIN" />
      <xs:enumeration value="Foreign" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TINTypeTypeTIN" nillable="true" type="tns:TINTypeTypeTIN" />
  <xs:simpleType name="BulkRegistrationDocumentTypeDocumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BulkRegistrationNew" />
      <xs:enumeration value="BulkRegistrationCOU" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationDocumentTypeDocumentType" nillable="true" type="tns:BulkRegistrationDocumentTypeDocumentType" />
  <xs:complexType name="BulkRegistrationCOUType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionCode" type="tns:BulkRegistrationCOUTypeActionCode" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Items" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="SSTPID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegistrationCOUType" nillable="true" type="tns:BulkRegistrationCOUType" />
  <xs:simpleType name="BulkRegistrationCOUTypeActionCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="C" />
      <xs:enumeration value="O" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationCOUTypeActionCode" nillable="true" type="tns:BulkRegistrationCOUTypeActionCode" />
  <xs:complexType name="TechModelType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ItemElementName" type="tns:ItemChoiceType5" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TechModelType" nillable="true" type="tns:TechModelType" />
  <xs:simpleType name="ItemChoiceType5">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ModelOne" />
      <xs:enumeration value="ModelThree" />
      <xs:enumeration value="ModelTwo" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ItemChoiceType5" nillable="true" type="tns:ItemChoiceType5" />
  <xs:complexType name="ModelOneType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CSPCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelOneType" nillable="true" type="tns:ModelOneType" />
  <xs:complexType name="ModelTwoType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CASCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelTwoType" nillable="true" type="tns:ModelTwoType" />
  <xs:complexType name="BulkRegistrationCOUTypeStateIndicators">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcctCloseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AcctCloseDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="CSPEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CSPEndDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="CSPLastFilingPd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstFilingPeriod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstFilingPeriodSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstSaleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstSaleDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastSaleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastSaleDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="RegistrationIndicator" type="tns:BulkRegistrationCOUTypeStateIndicatorsRegistrationIndicator" />
      <xs:element minOccurs="0" name="RegistrationIndicatorSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteEffDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemoteEffDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemoteEndDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteSellerID" type="tns:BulkRegistrationCOUTypeStateIndicatorsRemoteSellerID" />
      <xs:element minOccurs="0" name="RemoteSellerIDSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="SSTPAllowanceIndicator" type="tns:BulkRegistrationCOUTypeStateIndicatorsSSTPAllowanceIndicator" />
      <xs:element minOccurs="0" name="SSTPAllowanceIndicatorSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateAcctInd" type="tns:BulkRegistrationCOUTypeStateIndicatorsStateAcctInd" />
      <xs:element minOccurs="0" name="StateAcctIndSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegistrationCOUTypeStateIndicators" nillable="true" type="tns:BulkRegistrationCOUTypeStateIndicators" />
  <xs:simpleType name="BulkRegistrationCOUTypeStateIndicatorsRegistrationIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="R" />
      <xs:enumeration value="A" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationCOUTypeStateIndicatorsRegistrationIndicator" nillable="true" type="tns:BulkRegistrationCOUTypeStateIndicatorsRegistrationIndicator" />
  <xs:simpleType name="BulkRegistrationCOUTypeStateIndicatorsRemoteSellerID">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationCOUTypeStateIndicatorsRemoteSellerID" nillable="true" type="tns:BulkRegistrationCOUTypeStateIndicatorsRemoteSellerID" />
  <xs:simpleType name="BulkRegistrationCOUTypeStateIndicatorsSSTPAllowanceIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationCOUTypeStateIndicatorsSSTPAllowanceIndicator" nillable="true" type="tns:BulkRegistrationCOUTypeStateIndicatorsSSTPAllowanceIndicator" />
  <xs:simpleType name="BulkRegistrationCOUTypeStateIndicatorsStateAcctInd">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationCOUTypeStateIndicatorsStateAcctInd" nillable="true" type="tns:BulkRegistrationCOUTypeStateIndicatorsStateAcctInd" />
  <xs:complexType name="BulkRegistrationCOUTypeBusinessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DBAName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailingAddress" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="NAICSCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalAddress" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="SSTPContact" nillable="true" type="tns:ContactType" />
      <xs:element minOccurs="0" name="SellerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerPhoneExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateIncorporated" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegistrationCOUTypeBusinessInfo" nillable="true" type="tns:BulkRegistrationCOUTypeBusinessInfo" />
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressType" nillable="true" type="tns:AddressType" />
  <xs:complexType name="AddressTypeUSAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine1Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityNm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InCareOfNm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateAbbreviationCd" type="tns:StateType" />
      <xs:element minOccurs="0" name="ZIPCd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressTypeUSAddress" nillable="true" type="tns:AddressTypeUSAddress" />
  <xs:simpleType name="StateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AL" />
      <xs:enumeration value="AK" />
      <xs:enumeration value="AS" />
      <xs:enumeration value="AZ" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="MP" />
      <xs:enumeration value="CT" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="DC" />
      <xs:enumeration value="FM" />
      <xs:enumeration value="FL" />
      <xs:enumeration value="GA" />
      <xs:enumeration value="GU" />
      <xs:enumeration value="HI" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="IL" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="IA" />
      <xs:enumeration value="KS" />
      <xs:enumeration value="KY" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="ME" />
      <xs:enumeration value="MH" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MI" />
      <xs:enumeration value="MN" />
      <xs:enumeration value="MS" />
      <xs:enumeration value="MO" />
      <xs:enumeration value="MT" />
      <xs:enumeration value="NE" />
      <xs:enumeration value="NV" />
      <xs:enumeration value="NH" />
      <xs:enumeration value="NJ" />
      <xs:enumeration value="NM" />
      <xs:enumeration value="NY" />
      <xs:enumeration value="NC" />
      <xs:enumeration value="ND" />
      <xs:enumeration value="OH" />
      <xs:enumeration value="OK" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="PW" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="RI" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TX" />
      <xs:enumeration value="VI" />
      <xs:enumeration value="UT" />
      <xs:enumeration value="VT" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="WA" />
      <xs:enumeration value="WV" />
      <xs:enumeration value="WI" />
      <xs:enumeration value="WY" />
      <xs:enumeration value="AA" />
      <xs:enumeration value="AE" />
      <xs:enumeration value="AP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StateType" nillable="true" type="tns:StateType" />
  <xs:complexType name="AddressTypeForeignAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine1Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityNm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCd" type="tns:CountryType" />
      <xs:element minOccurs="0" name="ForeignPostalCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InCareOfNm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceOrStateNm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressTypeForeignAddress" nillable="true" type="tns:AddressTypeForeignAddress" />
  <xs:simpleType name="CountryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AF" />
      <xs:enumeration value="AX" />
      <xs:enumeration value="XI" />
      <xs:enumeration value="AL" />
      <xs:enumeration value="AG" />
      <xs:enumeration value="AQ" />
      <xs:enumeration value="AN" />
      <xs:enumeration value="AO" />
      <xs:enumeration value="AV" />
      <xs:enumeration value="AY" />
      <xs:enumeration value="AC" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="AM" />
      <xs:enumeration value="AA" />
      <xs:enumeration value="XA" />
      <xs:enumeration value="AT" />
      <xs:enumeration value="AS" />
      <xs:enumeration value="AU" />
      <xs:enumeration value="AJ" />
      <xs:enumeration value="XZ" />
      <xs:enumeration value="BF" />
      <xs:enumeration value="BA" />
      <xs:enumeration value="FQ" />
      <xs:enumeration value="BG" />
      <xs:enumeration value="BB" />
      <xs:enumeration value="BS" />
      <xs:enumeration value="BO" />
      <xs:enumeration value="BE" />
      <xs:enumeration value="BH" />
      <xs:enumeration value="BN" />
      <xs:enumeration value="BD" />
      <xs:enumeration value="BT" />
      <xs:enumeration value="BL" />
      <xs:enumeration value="BK" />
      <xs:enumeration value="BC" />
      <xs:enumeration value="BV" />
      <xs:enumeration value="BR" />
      <xs:enumeration value="IO" />
      <xs:enumeration value="VI" />
      <xs:enumeration value="BX" />
      <xs:enumeration value="BU" />
      <xs:enumeration value="UV" />
      <xs:enumeration value="BM" />
      <xs:enumeration value="BY" />
      <xs:enumeration value="CB" />
      <xs:enumeration value="CM" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="XY" />
      <xs:enumeration value="CV" />
      <xs:enumeration value="CJ" />
      <xs:enumeration value="CT" />
      <xs:enumeration value="CD" />
      <xs:enumeration value="XC" />
      <xs:enumeration value="CI" />
      <xs:enumeration value="CH" />
      <xs:enumeration value="KT" />
      <xs:enumeration value="IP" />
      <xs:enumeration value="CK" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="CN" />
      <xs:enumeration value="CF" />
      <xs:enumeration value="CG" />
      <xs:enumeration value="CW" />
      <xs:enumeration value="CR" />
      <xs:enumeration value="VP" />
      <xs:enumeration value="CS" />
      <xs:enumeration value="IV" />
      <xs:enumeration value="HR" />
      <xs:enumeration value="CU" />
      <xs:enumeration value="CY" />
      <xs:enumeration value="EZ" />
      <xs:enumeration value="DA" />
      <xs:enumeration value="DX" />
      <xs:enumeration value="DJ" />
      <xs:enumeration value="DO" />
      <xs:enumeration value="DR" />
      <xs:enumeration value="TT" />
      <xs:enumeration value="EC" />
      <xs:enumeration value="EG" />
      <xs:enumeration value="ES" />
      <xs:enumeration value="XE" />
      <xs:enumeration value="EK" />
      <xs:enumeration value="ER" />
      <xs:enumeration value="EN" />
      <xs:enumeration value="ET" />
      <xs:enumeration value="EU" />
      <xs:enumeration value="FK" />
      <xs:enumeration value="FO" />
      <xs:enumeration value="FM" />
      <xs:enumeration value="FJ" />
      <xs:enumeration value="FI" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="FG" />
      <xs:enumeration value="FP" />
      <xs:enumeration value="FS" />
      <xs:enumeration value="GB" />
      <xs:enumeration value="GA" />
      <xs:enumeration value="GZ" />
      <xs:enumeration value="GG" />
      <xs:enumeration value="GM" />
      <xs:enumeration value="GH" />
      <xs:enumeration value="GI" />
      <xs:enumeration value="GO" />
      <xs:enumeration value="GR" />
      <xs:enumeration value="GL" />
      <xs:enumeration value="GJ" />
      <xs:enumeration value="VC" />
      <xs:enumeration value="GP" />
      <xs:enumeration value="GQ" />
      <xs:enumeration value="GT" />
      <xs:enumeration value="GK" />
      <xs:enumeration value="GV" />
      <xs:enumeration value="PU" />
      <xs:enumeration value="GY" />
      <xs:enumeration value="HA" />
      <xs:enumeration value="HM" />
      <xs:enumeration value="HO" />
      <xs:enumeration value="HK" />
      <xs:enumeration value="HQ" />
      <xs:enumeration value="HU" />
      <xs:enumeration value="IC" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="IR" />
      <xs:enumeration value="IZ" />
      <xs:enumeration value="EI" />
      <xs:enumeration value="IS" />
      <xs:enumeration value="IT" />
      <xs:enumeration value="JM" />
      <xs:enumeration value="JN" />
      <xs:enumeration value="JA" />
      <xs:enumeration value="DQ" />
      <xs:enumeration value="JE" />
      <xs:enumeration value="JQ" />
      <xs:enumeration value="JO" />
      <xs:enumeration value="JU" />
      <xs:enumeration value="KZ" />
      <xs:enumeration value="KE" />
      <xs:enumeration value="KQ" />
      <xs:enumeration value="KR" />
      <xs:enumeration value="KN" />
      <xs:enumeration value="KS" />
      <xs:enumeration value="KU" />
      <xs:enumeration value="KG" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="LG" />
      <xs:enumeration value="LE" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="LI" />
      <xs:enumeration value="LY" />
      <xs:enumeration value="LS" />
      <xs:enumeration value="LH" />
      <xs:enumeration value="LU" />
      <xs:enumeration value="MC" />
      <xs:enumeration value="MK" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MI" />
      <xs:enumeration value="MY" />
      <xs:enumeration value="MV" />
      <xs:enumeration value="ML" />
      <xs:enumeration value="MT" />
      <xs:enumeration value="IM" />
      <xs:enumeration value="RM" />
      <xs:enumeration value="MB" />
      <xs:enumeration value="MR" />
      <xs:enumeration value="MP" />
      <xs:enumeration value="MF" />
      <xs:enumeration value="MX" />
      <xs:enumeration value="MQ" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="MN" />
      <xs:enumeration value="MG" />
      <xs:enumeration value="MJ" />
      <xs:enumeration value="MH" />
      <xs:enumeration value="MO" />
      <xs:enumeration value="MZ" />
      <xs:enumeration value="XM" />
      <xs:enumeration value="WA" />
      <xs:enumeration value="NR" />
      <xs:enumeration value="BQ" />
      <xs:enumeration value="NP" />
      <xs:enumeration value="NL" />
      <xs:enumeration value="NT" />
      <xs:enumeration value="NC" />
      <xs:enumeration value="NZ" />
      <xs:enumeration value="NU" />
      <xs:enumeration value="NG" />
      <xs:enumeration value="NI" />
      <xs:enumeration value="NE" />
      <xs:enumeration value="NF" />
      <xs:enumeration value="XN" />
      <xs:enumeration value="CQ" />
      <xs:enumeration value="NO" />
      <xs:enumeration value="MU" />
      <xs:enumeration value="XX" />
      <xs:enumeration value="PK" />
      <xs:enumeration value="LQ" />
      <xs:enumeration value="PS" />
      <xs:enumeration value="PM" />
      <xs:enumeration value="PP" />
      <xs:enumeration value="PF" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PE" />
      <xs:enumeration value="RP" />
      <xs:enumeration value="PC" />
      <xs:enumeration value="PL" />
      <xs:enumeration value="PO" />
      <xs:enumeration value="RQ" />
      <xs:enumeration value="QA" />
      <xs:enumeration value="RE" />
      <xs:enumeration value="RO" />
      <xs:enumeration value="RS" />
      <xs:enumeration value="RW" />
      <xs:enumeration value="WS" />
      <xs:enumeration value="SM" />
      <xs:enumeration value="TP" />
      <xs:enumeration value="SA" />
      <xs:enumeration value="XS" />
      <xs:enumeration value="SG" />
      <xs:enumeration value="RB" />
      <xs:enumeration value="SE" />
      <xs:enumeration value="SL" />
      <xs:enumeration value="SN" />
      <xs:enumeration value="XR" />
      <xs:enumeration value="LO" />
      <xs:enumeration value="SI" />
      <xs:enumeration value="BP" />
      <xs:enumeration value="SO" />
      <xs:enumeration value="SF" />
      <xs:enumeration value="SX" />
      <xs:enumeration value="SP" />
      <xs:enumeration value="PG" />
      <xs:enumeration value="CE" />
      <xs:enumeration value="SH" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="ST" />
      <xs:enumeration value="SB" />
      <xs:enumeration value="VC1" />
      <xs:enumeration value="SU" />
      <xs:enumeration value="NS" />
      <xs:enumeration value="SV" />
      <xs:enumeration value="WZ" />
      <xs:enumeration value="SW" />
      <xs:enumeration value="SZ" />
      <xs:enumeration value="SY" />
      <xs:enumeration value="TW" />
      <xs:enumeration value="TI" />
      <xs:enumeration value="TZ" />
      <xs:enumeration value="TH" />
      <xs:enumeration value="TO" />
      <xs:enumeration value="TL" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TD" />
      <xs:enumeration value="XT" />
      <xs:enumeration value="TE" />
      <xs:enumeration value="TS" />
      <xs:enumeration value="TU" />
      <xs:enumeration value="TX" />
      <xs:enumeration value="TK" />
      <xs:enumeration value="TV" />
      <xs:enumeration value="UG" />
      <xs:enumeration value="UP" />
      <xs:enumeration value="AE" />
      <xs:enumeration value="UK" />
      <xs:enumeration value="UC" />
      <xs:enumeration value="US" />
      <xs:enumeration value="UY" />
      <xs:enumeration value="UZ" />
      <xs:enumeration value="NH" />
      <xs:enumeration value="VT" />
      <xs:enumeration value="VE" />
      <xs:enumeration value="VM" />
      <xs:enumeration value="VQ" />
      <xs:enumeration value="WQ" />
      <xs:enumeration value="XW" />
      <xs:enumeration value="WF" />
      <xs:enumeration value="WE" />
      <xs:enumeration value="WI" />
      <xs:enumeration value="YM" />
      <xs:enumeration value="YI" />
      <xs:enumeration value="ZA" />
      <xs:enumeration value="ZI" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CountryType" nillable="true" type="tns:CountryType" />
  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="tns:IndividualNameType" />
      <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhoneExt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactType" nillable="true" type="tns:ContactType" />
  <xs:complexType name="IndividualNameType">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleInitial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameSuffix" type="tns:GenerationalNameSuffixType" />
      <xs:element minOccurs="0" name="NameSuffixSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndividualNameType" nillable="true" type="tns:IndividualNameType" />
  <xs:simpleType name="GenerationalNameSuffixType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JR" />
      <xs:enumeration value="SR" />
      <xs:enumeration value="I" />
      <xs:enumeration value="II" />
      <xs:enumeration value="III" />
      <xs:enumeration value="IV" />
      <xs:enumeration value="V" />
      <xs:enumeration value="VI" />
      <xs:enumeration value="VII" />
      <xs:enumeration value="VIII" />
      <xs:enumeration value="IX" />
      <xs:enumeration value="X" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GenerationalNameSuffixType" nillable="true" type="tns:GenerationalNameSuffixType" />
  <xs:complexType name="BulkRegistrationNewType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionCode" type="tns:BulkRegistrationNewTypeActionCode" />
      <xs:element minOccurs="0" name="DBAName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstFilingPeriod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="MailingAddress" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="NAICSCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalAddress" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="RegistrationEntity" type="tns:EntityType" />
      <xs:element minOccurs="0" name="SSTPContact" nillable="true" type="tns:ContactType" />
      <xs:element minOccurs="0" name="SellerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerPhoneExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateIncorporated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateRegistrationIndicator" nillable="true" type="tns:ArrayOfBulkRegistrationNewTypeStateRegistrationIndicator" />
      <xs:element minOccurs="0" name="TechnologyModel" nillable="true" type="tns:TechModelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegistrationNewType" nillable="true" type="tns:BulkRegistrationNewType" />
  <xs:simpleType name="BulkRegistrationNewTypeActionCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationNewTypeActionCode" nillable="true" type="tns:BulkRegistrationNewTypeActionCode" />
  <xs:simpleType name="EntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SP" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="TR" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="LL" />
      <xs:enumeration value="GO" />
      <xs:enumeration value="OT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityType" nillable="true" type="tns:EntityType" />
  <xs:complexType name="ArrayOfBulkRegistrationNewTypeStateRegistrationIndicator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BulkRegistrationNewTypeStateRegistrationIndicator" nillable="true" type="tns:BulkRegistrationNewTypeStateRegistrationIndicator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBulkRegistrationNewTypeStateRegistrationIndicator" nillable="true" type="tns:ArrayOfBulkRegistrationNewTypeStateRegistrationIndicator" />
  <xs:complexType name="BulkRegistrationNewTypeStateRegistrationIndicator">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstSaleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RegistrationIndicator" type="tns:BulkRegistrationNewTypeStateRegistrationIndicatorRegistrationIndicator" />
      <xs:element minOccurs="0" name="RemoteEffDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemoteEffDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteSellerID" type="tns:BulkRegistrationNewTypeStateRegistrationIndicatorRemoteSellerID" />
      <xs:element minOccurs="0" name="SSTPAllowanceIndicator" type="tns:BulkRegistrationNewTypeStateRegistrationIndicatorSSTPAllowanceIndicator" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegistrationNewTypeStateRegistrationIndicator" nillable="true" type="tns:BulkRegistrationNewTypeStateRegistrationIndicator" />
  <xs:simpleType name="BulkRegistrationNewTypeStateRegistrationIndicatorRegistrationIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N" />
      <xs:enumeration value="R" />
      <xs:enumeration value="X" />
      <xs:enumeration value="A" />
      <xs:enumeration value="Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationNewTypeStateRegistrationIndicatorRegistrationIndicator" nillable="true" type="tns:BulkRegistrationNewTypeStateRegistrationIndicatorRegistrationIndicator" />
  <xs:simpleType name="BulkRegistrationNewTypeStateRegistrationIndicatorRemoteSellerID">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationNewTypeStateRegistrationIndicatorRemoteSellerID" nillable="true" type="tns:BulkRegistrationNewTypeStateRegistrationIndicatorRemoteSellerID" />
  <xs:simpleType name="BulkRegistrationNewTypeStateRegistrationIndicatorSSTPAllowanceIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegistrationNewTypeStateRegistrationIndicatorSSTPAllowanceIndicator" nillable="true" type="tns:BulkRegistrationNewTypeStateRegistrationIndicatorSSTPAllowanceIndicator" />
  <xs:complexType name="BusinessNameType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessNameLine1Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessNameLine2Txt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessNameType" nillable="true" type="tns:BusinessNameType" />
  <xs:complexType name="TransmissionHeaderType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessType" type="tns:TransmissionHeaderTypeProcessType" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransmissionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransmissionPaymentHash" nillable="true" type="tns:AmountType" />
      <xs:element minOccurs="0" name="Transmitter" nillable="true" type="tns:TransmissionHeaderTypeTransmitter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransmissionHeaderType" nillable="true" type="tns:TransmissionHeaderType" />
  <xs:simpleType name="TransmissionHeaderTypeProcessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="T" />
      <xs:enumeration value="P" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransmissionHeaderTypeProcessType" nillable="true" type="tns:TransmissionHeaderTypeProcessType" />
  <xs:complexType name="AmountType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmountType" nillable="true" type="tns:AmountType" />
  <xs:complexType name="TransmissionHeaderTypeTransmitter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ETIN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransmissionHeaderTypeTransmitter" nillable="true" type="tns:TransmissionHeaderTypeTransmitter" />
  <xs:complexType name="BulkRegistrationAcknowledgementType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcknowledgementHeader" nillable="true" type="tns:AcknowledgementHeaderType" />
      <xs:element minOccurs="0" name="BulkRegAcknowledgement" nillable="true" type="tns:ArrayOfBulkRegAcknowledgementType" />
      <xs:element minOccurs="0" name="TransmissionAcknowledgement" nillable="true" type="tns:TransmissionAcknowledgementType" />
      <xs:element minOccurs="0" name="acknowledgementVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegistrationAcknowledgementType" nillable="true" type="tns:BulkRegistrationAcknowledgementType" />
  <xs:complexType name="AcknowledgementHeaderType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcknowledgementCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AcknowledgementTimestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcknowledgementHeaderType" nillable="true" type="tns:AcknowledgementHeaderType" />
  <xs:complexType name="ArrayOfBulkRegAcknowledgementType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BulkRegAcknowledgementType" nillable="true" type="tns:BulkRegAcknowledgementType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBulkRegAcknowledgementType" nillable="true" type="tns:ArrayOfBulkRegAcknowledgementType" />
  <xs:complexType name="BulkRegAcknowledgementType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentStatus" type="tns:StatusType" />
      <xs:element minOccurs="0" name="DocumentType" type="tns:BulkRegAcknowledgementTypeDocumentType" />
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:Errors" />
      <xs:element minOccurs="0" name="NewPass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSTPID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkRegAcknowledgementType" nillable="true" type="tns:BulkRegAcknowledgementType" />
  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="R" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusType" nillable="true" type="tns:StatusType" />
  <xs:simpleType name="BulkRegAcknowledgementTypeDocumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BulkRegNew" />
      <xs:enumeration value="BulkRegCOU" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkRegAcknowledgementTypeDocumentType" nillable="true" type="tns:BulkRegAcknowledgementTypeDocumentType" />
  <xs:complexType name="Errors">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:ArrayOfErrorsError" />
      <xs:element minOccurs="0" name="errorCount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Errors" nillable="true" type="tns:Errors" />
  <xs:complexType name="ArrayOfErrorsError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorsError" nillable="true" type="tns:ErrorsError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorsError" nillable="true" type="tns:ArrayOfErrorsError" />
  <xs:complexType name="ErrorsError">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemElementName" type="tns:ItemChoiceType" />
      <xs:element minOccurs="0" name="Severity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorsError" nillable="true" type="tns:ErrorsError" />
  <xs:simpleType name="ItemChoiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FieldIdentifier" />
      <xs:enumeration value="XPath" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ItemChoiceType" nillable="true" type="tns:ItemChoiceType" />
  <xs:complexType name="TransmissionAcknowledgementType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:Errors" />
      <xs:element minOccurs="0" name="TransmissionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransmissionStatus" type="tns:StatusType" />
      <xs:element minOccurs="0" name="TransmissionTimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransmissionTimestampSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransmissionAcknowledgementType" nillable="true" type="tns:TransmissionAcknowledgementType" />
  <xs:complexType name="SSTRegistrationTransmissionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="RegistrationDocument" nillable="true" type="tns:ArrayOfRegistrationDocumentType" />
      <xs:element minOccurs="0" name="TransmissionHeader" nillable="true" type="tns:TransmissionHeaderType" />
      <xs:element minOccurs="0" name="transmissionVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSTRegistrationTransmissionType" nillable="true" type="tns:SSTRegistrationTransmissionType" />
  <xs:complexType name="ArrayOfRegistrationDocumentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistrationDocumentType" nillable="true" type="tns:RegistrationDocumentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistrationDocumentType" nillable="true" type="tns:ArrayOfRegistrationDocumentType" />
  <xs:complexType name="RegistrationDocumentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" type="tns:RegistrationDocumentTypeDocumentType" />
      <xs:element minOccurs="0" name="RegistrationInformation" nillable="true" type="tns:RegistrationDocumentTypeRegistrationInformation" />
      <xs:element minOccurs="0" name="SSTRegistrationHeader" nillable="true" type="tns:SSTRegistrationHeaderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationDocumentType" nillable="true" type="tns:RegistrationDocumentType" />
  <xs:simpleType name="RegistrationDocumentTypeDocumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SSTRegistrationNew" />
      <xs:enumeration value="SSTRegistrationCOU" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationDocumentTypeDocumentType" nillable="true" type="tns:RegistrationDocumentTypeDocumentType" />
  <xs:complexType name="RegistrationDocumentTypeRegistrationInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationDocumentTypeRegistrationInformation" nillable="true" type="tns:RegistrationDocumentTypeRegistrationInformation" />
  <xs:complexType name="RegistrationCOUType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcctCloseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AcctCloseDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActionCode" type="tns:RegistrationCOUTypeActionCode" />
      <xs:element minOccurs="0" name="CSPEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CSPEndDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="CSPLastFilingPd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DBAName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstSaleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstSaleDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="LastSaleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastSaleDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="MailingAddress" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="NAICSCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalAddress" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="RegistrationEntity" type="tns:EntityType" />
      <xs:element minOccurs="0" name="RegistrationIndicator" type="tns:RegistrationCOUTypeRegistrationIndicator" />
      <xs:element minOccurs="0" name="RemoteEffDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemoteEffDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemoteEndDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteSellerID" type="tns:RegistrationCOUTypeRemoteSellerID" />
      <xs:element minOccurs="0" name="RemoteSellerIDSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="SSTPAllowanceIndicator" type="tns:RegistrationCOUTypeSSTPAllowanceIndicator" />
      <xs:element minOccurs="0" name="SSTPAllowanceIndicatorSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="SSTPContact" nillable="true" type="tns:ContactType" />
      <xs:element minOccurs="0" name="SellerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerPhoneExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateAcctInd" type="tns:RegistrationCOUTypeStateAcctInd" />
      <xs:element minOccurs="0" name="StateAcctIndSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="StateIncorporated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechnologyModel" nillable="true" type="tns:TechModelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationCOUType" nillable="true" type="tns:RegistrationCOUType" />
  <xs:simpleType name="RegistrationCOUTypeActionCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="C" />
      <xs:enumeration value="O" />
      <xs:enumeration value="U" />
      <xs:enumeration value="D" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationCOUTypeActionCode" nillable="true" type="tns:RegistrationCOUTypeActionCode" />
  <xs:simpleType name="RegistrationCOUTypeRegistrationIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="R" />
      <xs:enumeration value="X" />
      <xs:enumeration value="A" />
      <xs:enumeration value="Z" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationCOUTypeRegistrationIndicator" nillable="true" type="tns:RegistrationCOUTypeRegistrationIndicator" />
  <xs:simpleType name="RegistrationCOUTypeRemoteSellerID">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationCOUTypeRemoteSellerID" nillable="true" type="tns:RegistrationCOUTypeRemoteSellerID" />
  <xs:simpleType name="RegistrationCOUTypeSSTPAllowanceIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationCOUTypeSSTPAllowanceIndicator" nillable="true" type="tns:RegistrationCOUTypeSSTPAllowanceIndicator" />
  <xs:simpleType name="RegistrationCOUTypeStateAcctInd">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationCOUTypeStateAcctInd" nillable="true" type="tns:RegistrationCOUTypeStateAcctInd" />
  <xs:complexType name="RegistrationNewType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionCode" type="tns:RegistrationNewTypeActionCode" />
      <xs:element minOccurs="0" name="DBAName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstSalesDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="MailingAddress" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="NAICSCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalAddress" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RegistrationEntity" type="tns:EntityType" />
      <xs:element minOccurs="0" name="RegistrationIndicator" type="tns:RegistrationNewTypeRegistrationIndicator" />
      <xs:element minOccurs="0" name="RemoteEffDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemoteEffDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteSellerID" type="tns:RegistrationNewTypeRemoteSellerID" />
      <xs:element minOccurs="0" name="SSTPAllowanceIndicator" type="tns:RegistrationNewTypeSSTPAllowanceIndicator" />
      <xs:element minOccurs="0" name="SSTPContact" nillable="true" type="tns:ContactType" />
      <xs:element minOccurs="0" name="SellerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerPhoneExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateIncorporated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechnologyModel" nillable="true" type="tns:TechModelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationNewType" nillable="true" type="tns:RegistrationNewType" />
  <xs:simpleType name="RegistrationNewTypeActionCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationNewTypeActionCode" nillable="true" type="tns:RegistrationNewTypeActionCode" />
  <xs:simpleType name="RegistrationNewTypeRegistrationIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="R" />
      <xs:enumeration value="X" />
      <xs:enumeration value="A" />
      <xs:enumeration value="Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationNewTypeRegistrationIndicator" nillable="true" type="tns:RegistrationNewTypeRegistrationIndicator" />
  <xs:simpleType name="RegistrationNewTypeRemoteSellerID">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationNewTypeRemoteSellerID" nillable="true" type="tns:RegistrationNewTypeRemoteSellerID" />
  <xs:simpleType name="RegistrationNewTypeSSTPAllowanceIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationNewTypeSSTPAllowanceIndicator" nillable="true" type="tns:RegistrationNewTypeSSTPAllowanceIndicator" />
  <xs:complexType name="SSTRegistrationHeaderType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateReceived" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateReceivedSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="ElectronicPostmark" nillable="true" type="tns:SSTRegistrationHeaderTypeElectronicPostmark" />
      <xs:element minOccurs="0" name="FIPSCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilingType" type="tns:SSTRegistrationHeaderTypeFilingType" />
      <xs:element minOccurs="0" name="SSTPID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIN" nillable="true" type="tns:TINType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSTRegistrationHeaderType" nillable="true" type="tns:SSTRegistrationHeaderType" />
  <xs:complexType name="SSTRegistrationHeaderTypeElectronicPostmark">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateSupplier" type="tns:SSTRegistrationHeaderTypeElectronicPostmarkDateSupplier" />
      <xs:element minOccurs="0" name="DateSupplierSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSTRegistrationHeaderTypeElectronicPostmark" nillable="true" type="tns:SSTRegistrationHeaderTypeElectronicPostmark" />
  <xs:simpleType name="SSTRegistrationHeaderTypeElectronicPostmarkDateSupplier">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Preparer" />
      <xs:enumeration value="Transmitter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SSTRegistrationHeaderTypeElectronicPostmarkDateSupplier" nillable="true" type="tns:SSTRegistrationHeaderTypeElectronicPostmarkDateSupplier" />
  <xs:simpleType name="SSTRegistrationHeaderTypeFilingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RegNew" />
      <xs:enumeration value="RegCOU" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SSTRegistrationHeaderTypeFilingType" nillable="true" type="tns:SSTRegistrationHeaderTypeFilingType" />
  <xs:complexType name="SSTPAcknowledgementType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcknowledgementHeader" nillable="true" type="tns:AcknowledgementHeaderType" />
      <xs:element minOccurs="0" name="DocumentAcknowledgement" nillable="true" type="tns:ArrayOfDocumentAcknowledgementType" />
      <xs:element minOccurs="0" name="TransmissionAcknowledgement" nillable="true" type="tns:TransmissionAcknowledgementType" />
      <xs:element minOccurs="0" name="acknowledgementVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSTPAcknowledgementType" nillable="true" type="tns:SSTPAcknowledgementType" />
  <xs:complexType name="ArrayOfDocumentAcknowledgementType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentAcknowledgementType" nillable="true" type="tns:DocumentAcknowledgementType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentAcknowledgementType" nillable="true" type="tns:ArrayOfDocumentAcknowledgementType" />
  <xs:complexType name="DocumentAcknowledgementType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentStatus" type="tns:StatusType" />
      <xs:element minOccurs="0" name="DocumentType" type="tns:DocumentAcknowledgementTypeDocumentType" />
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:Errors" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemElementName" type="tns:ItemChoiceType1" />
      <xs:element minOccurs="0" name="PaymentIndicator" type="tns:PaymentIndicatorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentAcknowledgementType" nillable="true" type="tns:DocumentAcknowledgementType" />
  <xs:simpleType name="DocumentAcknowledgementTypeDocumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SSTPRegistration" />
      <xs:enumeration value="SERWithPayment" />
      <xs:enumeration value="SEROnly" />
      <xs:enumeration value="PaymentOnly" />
      <xs:enumeration value="PrePayment" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentAcknowledgementTypeDocumentType" nillable="true" type="tns:DocumentAcknowledgementTypeDocumentType" />
  <xs:simpleType name="ItemChoiceType1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SSTPID" />
      <xs:enumeration value="StateID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ItemChoiceType1" nillable="true" type="tns:ItemChoiceType1" />
  <xs:simpleType name="PaymentIndicatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="R" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentIndicatorType" nillable="true" type="tns:PaymentIndicatorType" />
  <xs:complexType name="SSTReceiptType">
    <xs:sequence>
      <xs:element name="receiptHeaderField" nillable="true" type="tns:SSTReceiptTypeReceiptHeader" />
      <xs:element name="receiptVersionField" nillable="true" type="xs:string" />
      <xs:element name="transmissionReceiptField" nillable="true" type="tns:SSTReceiptTypeTransmissionReceipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSTReceiptType" nillable="true" type="tns:SSTReceiptType" />
  <xs:complexType name="SSTReceiptTypeReceiptHeader">
    <xs:sequence>
      <xs:element name="receiptTimestampField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSTReceiptTypeReceiptHeader" nillable="true" type="tns:SSTReceiptTypeReceiptHeader" />
  <xs:complexType name="SSTReceiptTypeTransmissionReceipt">
    <xs:sequence>
      <xs:element name="transmissionIDField" nillable="true" type="xs:string" />
      <xs:element name="transmissionTimestampField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSTReceiptTypeTransmissionReceipt" nillable="true" type="tns:SSTReceiptTypeTransmissionReceipt" />
</xs:schema>